[submodule "Dependencies/bx"]
	path = Dependencies/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "Dependencies/bimg"]
	path = Dependencies/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "Dependencies/bgfx"]
	path = Dependencies/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "Dependencies/GENie"]
	path = Dependencies/GENie
	url = https://github.com/bkaradzic/GENie.git
