bin
obj
.vs
*.user
*.vcxproj
*.filters
premake.bat
.vscode
Makefile
*.make
build
Staging
Tools/packages
launchSettings.json
TestProject/Cache
DefaultResources
.DS_Store
dist
TestProject/*.csproj
TestProject/*.sln
.idea
